<html lang="en">
	<head>
		<title>Astro</title>
	</head>
	<body>
		<h1>Welcome to my very first and new Website</h1>
		<p> This paragraph is blue</p>
		<p> This paragraph is red</p>
		<h2>This is a subheading</h2>
		<ul>
			<li>My favourite colour is green</li>
			<li>My favourite movie is Harry Potter</li>
			<li>A website I visit often is <a href="https://www.youtube.com/">Youtube</a></li>
		</ul>
		<h2>Here is a picture I found on the internet</h2>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/330px-FullMoon2010.jpg">	
		<p> Гэрэлт-Одоо би чамд хайртай шүү</p>
		<img src="https://scontent.fdub6-1.fna.fbcdn.net/v/t39.30808-6/492474461_9534308573291033_3452150610273317613_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=105&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=UflFnOCRLkwQ7kNvwFnCHuj&_nc_oc=Adnk8GbJLeA4CeydaHh9eFMTw1ZZj7o72KyfgAO6KTGo467LweCcBKUK8V2uz9UunWc&_nc_zt=23&_nc_ht=scontent.fdub6-1.fna&_nc_gid=_T8cgYxchkThZS_AgaTmhQ&oh=00_Afd95gFg0Pwpi5DxKa36w4MwSVr7Y17XVSSWOhPWkaIqmw&oe=69026166">
	</body>
</html>
