<html lang="en">
	<head>
		<title>Astro</title>
	</head>
	<body>
		<h1>Welcome to my very first and new Website</h1>
		<p> This paragraph is blue</p>
		<p> This paragraph is red</p>
		<h2>This is a subheading</h2>
		<ul>
			<li>My favourite colour is green</li>
			<li>My favourite movie is Harry Potter</li>
			<li>A website I visit often is <a href="https://www.youtube.com/">Youtube</a></li>
		</ul>
		<h2>Here is a picture I found on the internet</h2>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/330px-FullMoon2010.jpg">	
		<p> Гэрэлт-Одоо би чамд хайртай шүү</p>
		<img src="IMG_9104.JPG">
	</body>
</html>
